@import "tailwindcss";

/* MESSAGES D'ERREURS */
.err {
  color: red;
  display: flex;
  gap: 5px;
}

/* NAVIGATION D'ÉTAPES */
ol li img:hover {
  filter: brightness(80%);
}

/* ÉTATS FOCUS DES LIENS */
a:focus img{
  outline: solid darkgreen 2px;
  outline-offset: 2px;
  border-radius: 100%;
}   

a:focus-visible{
  outline: none;
}

/* CHAMPS */
input:focus {
  outline: solid oklch(62.7% 0.194 149.214) 2px;
}

input[type="radio"]{
  outline: none;
}

/* BOUTONS RADIO */
input[type="radio"]:checked+label {
  background-color: #d2ed70;
}

input[type="radio"]:hover+label {
  background-color: #e5ff88;
}

input[type="radio"]:focus+label {
  outline: solid darkgreen 2px;
  outline-offset: 2px;
}

.active {
  border: 2px;
  padding: 4px;
  width: 48px;
  border-bottom: solid;
  border-color: #d2ed70;
}

.success {
  border: 2px;
  padding: 4px;
  width: 48px;
  border-bottom: solid;
  border-color: #d2ed70;
}

/* COULEURS */
.bg-vert {
  background-color: #d2ed70;
}

.bg-grisPale {
  background-color: #f8f8f6;
}