@import "tailwindcss";

/* Interativitée */
.err {
  color: red;
}

ol li img:hover {
  filter: brightness(80%);
}

.active {
  border: 2px;
  padding: 4px;
  width: 48px;
  border-bottom: solid;
  border-color: #d2ed70;
}

.success {
  border: 2px;
  padding: 4px;
  width: 48px;
  border-bottom: solid;
  border-color: #d2ed70;
}

.bg-vert {
  background-color: #d2ed70;
}

.bg-grisPale {
  background-color: #f8f8f6;
}

input[type="radio"]:checked+label {
  background-color: #d2ed70;
}

input[type="radio"]:hover+label {
  background-color: #e5ff88;
}

:focus{
  border: none;
}