@import "tailwindcss";

/* Interativitée */
.err {
  color: red;
}

ol li img:hover {
  filter: brightness(80%);
}

.bg-grisPale {
  background-color: #d2ed70;
}

.bg-grisPale {
  background-color: #f8f8f6;
}

input[type="radio"]:checked+label {
  background-color: #d2ed70;
}
